<vm>
<name>{{ vm_name }}</name>
<cluster><name>{{ vm_ov_cluster }}</name></cluster>
<template><name>{{ vm_ov_tmplname }}</name></template>
<disks><clone>true</clone></disks>
<initialization>
<host_name>{{ vm_host }}.{{ vm_tld }}</host_name>
<nic_configurations>
  <nic_configuration>
    <name>{{ vm_nic1_name }}</name>
    <boot_protocol>{{ vm_nic1_proto }}</boot_protocol>
    <on_boot>{{ vm_nic1_onboot }}</on_boot>
  </nic_configuration>
</nic_configurations>
<dns_servers>{{ vm_dns_servers }}</dns_servers>
<dns_search>{{ vm_dns_search }}</dns_search>
<user_name>root</user_name>
<root_password>{{ vm_root_pwd }}</root_password>
<authorized_ssh_keys>{{ vm_ssh_auth_key }}</authorized_ssh_keys>
<regenerate_ssh_keys>{{ vm_ssh_regen_key }}</regenerate_ssh_keys>
<cloud_init>
  <files>
    <file>
      <name>ignored</name>
      <content><![CDATA[runcmd:
  - wget http://source.nhtek.net/ks/ifcfg-eth0.cfg -O /etc/sysconfig/network-scripts/ifcfg-eth0
  - sleep 15 && reboot]]></content>
      <type>plaintext</type>
    </file>
  </files>
</cloud_init>
<custom_script><![CDATA[runcmd:
  - wget http://source.nhtek.net/ks/ifcfg-eth0.cfg -O /etc/sysconfig/network-scripts/ifcfg-eth0
  - sleep 15 && reboot
]]></custom_script>
</initialization>
</vm>